.toggle-option{
    font-size: var(--font-size-md);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-normal);
    color: var(--color-secondary-8) !important;
}
.toggle-option{
    background: transparent !important;
}
.toggle-container{
    display: flex;
    align-items: center;
}
.p-inputswitch,.p-inputswitch.p-highlight .p-inputswitch-slider{
    height: 20px !important;
    width: 36px !important;
}
.p-inputswitch.p-highlight .p-inputswitch-slider:before {
    width: 18px;
    height: 18px;
    left: -0.25rem;
    margin-top: -0.55rem;
    border-radius: 50%;
    transition-duration: 0.2s;
}
.p-inputswitch .p-inputswitch-slider:before {
    width: 18px;
    height: 18px;
    left: 0rem;
    margin-top: -0.55rem;
    border-radius: 50%;
    transition-duration: 0.2s;
}

.sm.toggle-switch-group .p-inputswitch .p-inputswitch.p-highlight .p-inputswitch-slider{
    height: 16px !important;
    width: 28px !important;
}
.sm.toggle-switch-group .p-inputswitch .p-inputswitch-slider:before {
    width: 14px;
    height: 14px;
    left: 0rem;
    margin-top: -7px;
}
.sm.toggle-switch-group .p-inputswitch.p-highlight .p-inputswitch-slider:before {
    width: 14px;
    height: 14px;
    left: -9px;
    margin-top: -7px;
}

.toggle-option {
    width: fit-content;
    padding: 0;
    display: inline-block !important;
    white-space: nowrap !important;
}
.toggle-option.left-option{
    text-align: right;
    padding-right: 8px;
}
.toggle-option.right-option{
    text-align: left;
    padding-left: 8px;
}
.p-inputswitch input{
    height: 20px;
    width: 35px;
}